[gcp_service_account]
type = "service_account"
project_id = "seu-projeto-gcp"
private_key_id = "..."
private_key = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
client_email = "leitor-drive@seu-projeto.iam.gserviceaccount.com"
client_id = "..."
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/..."

[setores]
"Manutenção — Câmaras de Vacina" = "1EAp-v4dyjxdmaEP4c85hxVCQsRH6Og09"

[arquivos]
"Manutenção — Câmaras de Vacina" = "STATUS CÂMARAS DE VACINA"
