[gcp_service_account]
type = "service_account"
project_id = "silver-retina-501017-a7"
private_key_id = "5ec5c8b3e9f345f"
client_email = "leitor-drive@silver-retina-501017-a7.iam.gserviceaccount.com"
client_id = "111534"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/leitor-drive%40silver-retina-501017-a7.iam.gserviceaccount.com"

private_key = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC11+mSRsusNWto

-----END PRIVATE KEY-----
"""

[servicos]
"Manutenção" = "1EAp-v4dyjxdmaEP4c85hxVCQsRH6Og09"

[planilhas."Manutenção"]
"Câmaras de Vacina" = "STATUS CÂMARAS DE VACINA"
"Serviços Prioritários" = "SERVIÇOS PRIORITÁRIOS"
"Acesso Mais Seguro" = "ACESSO MAIS SEGURO"
"Chamados CAP" = "CHAMADOS CAP"
"Extintores" = "Extintores"
"Equipamentos Prioritários" = "EQUIPAMENTOS PRIORITÁRIOS"
"Falta de Energia" = "FALTA DE ENERGIA"
"Falta de Água" = "FALTA DE ÁGUA"
"Odonto" = "ODONTO - EQUIPAMENTOS"

[locais."Manutenção"]
"Câmaras de Vacina" = "Cópia de STATUS CÂMARAS DE VACINA 2026 - AP 5.1.xlsx"

[branding]
logo = "branco"
